@using Cash.Web.Extensions

@{
    ViewBag.Title = "Планы счетов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<div data-bind="dxDataGrid:chartGrid"></div>


@section scripts
{
    @Html.RequireJs("Cash/chart")
}
