@using Cash.Web.Extensions

@{
    ViewBag.Title = "Планы счетов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<div data-bind="dxDataGrid:charts">
    <div data-options="dxTemplate:{name:'nameCellTemplate'}">
        <a data-bind="attr:{href:'/Cash/Chart/Show/' + $data.row.key}"><span data-bind="text:$data.value"></span></a>
    </div>
</div>


@section scripts
{
    @Html.RequireJs("Cash/chart")
}
